@model IEnumerable<Student.Models.Student>

@{
    ViewData["Title"] = "Danh sách sinh viên";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Thêm mới sinh viên</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Tuổi</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Email</td>
            </tr>
        }
    </tbody>
</table>
